.avatar {
  vertical-align: middle;
  horiz-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profile-card {
  border: #434e5a 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}
