<div class="card profile-card">
  <!--Profile Image-->
  <div class="text-center" style="margin-top: 25px">
    <!-- <img
      class="avatar"
      src="https://www.hola.com/imagenes/cocina/recetas/20200617170335/mac-and-cheese/0-837-58/mac-cheese-adobe-m.jpg"
      alt="User's profile picture"
      style=""
    /> -->
    <img
      class="avatar"
      src="https://www.hola.com/imagenes/cocina/recetas/20200617170335/mac-and-cheese/0-837-58/mac-cheese-adobe-m.jpg"
      alt="User's profile picture"
      style=""
    />
  </div>
  <div class="card-body">
    <!--Profile Name-->
    <h3 class="card-title text-center">
      {{ user.name }} {{ user.lastname_1 }} {{ user.lastname_2 }}
    </h3>

    <!--Profile Info-->
    <div class="row">
      <div class="col-3 text-center">
        <strong>Age</strong>
        <br />
        {{ user.age }}
      </div>
      <div class="col-4 text-center">
        <strong>Activities</strong>
        <br />
        0
      </div>
      <div class="col text-center">
        <strong>Location</strong>
        <br />
        {{ user.country }}, {{ user.state }}
      </div>
    </div>
  </div>
</div>
