<div *ngIf="searchItemType === 'athletes'" class="card search-card">
  <div class="card-body">
    <h5 class="card-title">{{ searchItem.name }} {{ searchItem.lastName }}</h5>
    <div class="row">
      <div class="col-9">
        Location: {{ searchItem.country }}, {{ searchItem.state }}<br>
        Activities: 0 | Age: {{ searchItem.age }}<br>
      </div>
      <div class="col-3">
        <button
          class="btn btn-success btn-block"
        >Follow</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="searchItemType === 'races'" class="card search-card">
  <div class="card-body">
    <h5 class="card-title">{{ searchItem.name }}</h5>
    <div class="row">
      <div class="col-9">
        Date: {{ searchItem.date }} | Type: {{ searchItem.type }}<br>
        Cost: {{ searchItem.cost }} | Bank Account: {{ searchItem.bankAccount }}<br>
        MOSTRAR GPX
      </div>
      <div class="col-3">
        <button
          class="btn btn-success btn-block"
        >Upload Payment Ticket</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="searchItemType === 'groups'" class="card search-card">
  <div class="card-body">
    <h5 class="card-title">{{ searchItem.name }}</h5>
    <div class="row">
      <div class="col-9">
        Admin: {{ searchItem.admin }}
      </div>
      <div class="col-3">
        <button
          class="btn btn-success btn-block"
        >Join</button>
      </div>
    </div>
  </div>
</div>
