<app-navbar></app-navbar>
<div class="row">
  <div class="col-6">
    <div class="card my-settings-info-card">
      <!--<img src="..."  alt="...">-->
      <div class="card-body">
        <h5 class="card-title">General Information</h5>
        <p class="card-text">
          Name: {{ athlete.name }} {{ athlete.lastName1 }} {{ athlete.lastName2 }}<br>
          Nationality: {{ athlete.nationality }}<br>
          Location: {{ athlete.country }}, {{ athlete.state }}, {{ athlete.city }}<br>
          Birthday: {{ athlete.birthday }}<br>
          Age: {{ athlete.age }}<br>
        </p>
        <h5 class="card-title">Account Information</h5>
        <p class="card-text">
          Username: {{ athlete.username }}<br>
          Password: {{ athlete.password }}<br>
        </p>
      </div>
    </div>
    <div class="card my-settings-info-card">
      <div class="card-body">
        <button
          class="btn-danger btn btn-block"
          (click)="onDeleteAccount()"
        >Delete Account</button>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card my-settings-update-card">
      <!--<img src="..."  alt="...">-->
      <div class="card-body">
        <form (ngSubmit)="onUpdateProfile()" #updateProfileForm="ngForm">
          <h5 class="card-title">Update General Information</h5>

          <!--Full Name-->
          <div class="form-row">
            <div class="col">
              <!--Name-->
              <label for="newName">Name</label>
              <input
                type="text"
                class="form-control"
                id="newName"
                name="newName"
                [ngModel]="aName"
                required>
            </div>
            <div class="col">
              <!--Last Name 1-->
              <label for="newLastName1">First Last Name</label>
              <input
                type="text"
                class="form-control"
                id="newLastName1"
                name="newLastName1"
                [ngModel]="aLastName1"
                required>
            </div>
            <div class="col">
              <!--Last Name 2-->
              <label for="newLastName2">Second Last Name</label>
              <input
                type="text"
                class="form-control"
                id="newLastName2"
                name="newLastName2"
                [ngModel]="aLastName2"
                required>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <!--Nationality-->
              <label for="newNationality">Nationality</label>
              <input
                type="text"
                class="form-control"
                id="newNationality"
                name="newNationality"
                [ngModel]="aNationality"
                required>
            </div>
          </div>

          <!--Location-->
          <div class="form-row">
            <div class="col">
              <!--Country-->
              <label for="newCountry">Country</label>
              <input
                type="text"
                class="form-control"
                id="newCountry"
                name="newCountry"
                [ngModel]="aCountry"
                required>
            </div>
            <div class="col">
              <!--State-->
              <label for="newState">State</label>
              <input
                type="text"
                class="form-control"
                id="newState"
                name="newState"
                [ngModel]="aState"
                required>
            </div>
            <div class="col">
              <!--City-->
              <label for="newCity">City</label>
              <input
                type="text"
                class="form-control"
                id="newCity"
                name="newCity"
                [ngModel]="aCity"
                required>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <!--Birthday-->
              <label for="newBirthday">Birthday</label>
              <input
                type="date"
                class="form-control"
                id="newBirthday"
                name="newBirthday"
                ngModel
                required>
            </div>
          </div>


          <br>
          <h5 class="card-title">Update Account Information</h5>

          <!--Password-->
          <label for="newPassword">New password</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            ngModel
            required>

          <br>
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!updateProfileForm.valid">Update Profile</button>
        </form>
      </div>
    </div>
  </div>
</div>
