<div class="card my-groups-card">
  <div class="card-body">
    <h5 class="card-tittle">My Groups</h5>
    <div *ngFor="let g of groups" style="padding: 5px; margin-bottom: 15px">
      - {{ g.name }} | Admin: {{ g.admin }}
      <button
        class="btn btn-danger float-right"
        style="margin-left: 2px"
        (click)="onDeleteGroup(g.id_group)"
      >
        Delete
      </button>
      <button class="btn btn-success float-right" (click)="onUpdateGroup(g)">
        Update
      </button>
    </div>
    <br />

    <h5 *ngIf="!isUpdateForm" class="card-tittle">Create New Group</h5>
    <form *ngIf="!isUpdateForm" (ngSubmit)="addGroup()" #newGroup="ngForm">
      <div class="form-row">
        <!--Name-->
        <div class="col">
          <label for="groupName">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="groupName"
            ngModel
            required
          />
        </div>
        <!--Admin-->
        <div class="col">
          <label for="groupAdmin">Admin</label>
          <input
            type="text"
            class="form-control"
            name="admin"
            id="groupAdmin"
            ngModel
            required
          />
        </div>
      </div>
      <<<<<<< HEAD
      <br />
      =======
      <br />

      >>>>>>> front-end-Daniel
      <div class="form-row justify-content-center">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!newGroup.valid"
        >
          Create Group
        </button>
      </div>
    </form>

    <h5 *ngIf="isUpdateForm" class="card-tittle">Update Group</h5>
    <form
      *ngIf="isUpdateForm"
      (ngSubmit)="updateGroup()"
      #updateGroupForm="ngForm"
    >
      <div class="form-row">
        <!--Name-->
        <div class="col">
          <label for="updateGroupName">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="updateGroupName"
            [ngModel]="ugName"
            required
          />
        </div>
        <!--Admin-->
        <div class="col">
          <label for="updateGroupAdmin">Admin</label>
          <input
            type="text"
            class="form-control"
            name="admin"
            id="updateGroupAdmin"
            [ngModel]="ugAdmin"
            required
          />
        </div>
      </div>
      <br />
      <div class="form-row justify-content-center">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!updateGroupForm.valid"
        >
          Update Group
        </button>
      </div>
    </form>
  </div>
</div>
