<div class="card my-challenges-card">
  <div class="card-body">
    <h5 class="card-tittle">My Challenges</h5>
    <div *ngFor="let c of challenges" style="padding: 5px; margin-bottom: 15px">
      - {{ c.name }} | {{ c.challengetype }} | {{ c.activity_type }}

      <button
        class="btn btn-danger float-right"
        style="margin-left: 3px"
        (click)="onDeleteChallenge(c.id_challenge)"
      >
        Delete
      </button>
      <button
        class="btn btn-success float-right"
        (click)="onUpdateChallenge(c)"
      >
        Update
      </button>
    </div>
    <br />

    <h5 *ngIf="!isUpdateForm" class="card-tittle">Create New Challenge</h5>
    <form
      *ngIf="!isUpdateForm"
      (ngSubmit)="addChallenge()"
      #newChallenge="ngForm"
    >
      <div class="form-row">
        <!--Name-->
        <div class="col">
          <label for="challengeName">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="challengeName"
            ngModel
            required
          />
        </div>
        <!--Period-->
        <div class="col">
          <label for="challengePeriod">Period</label>
          <input
            type="text"
            class="form-control"
            name="period"
            id="challengePeriod"
            ngModel
            required
          />
        </div>
      </div>

      <div class="form-row">
        <!--Type-->
        <div class="col">
          <label for="challengeType">Type</label>
          <input
            type="text"
            class="form-control"
            name="type"
            id="challengeType"
            ngModel
            required
          />
        </div>
        <!--Activity Type-->
        <div class="col">
          <label for="challengeActivityType">Activity Type</label>
          <input
            type="text"
            class="form-control"
            name="activityType"
            id="challengeActivityType"
            ngModel
            required
          />
        </div>
      </div>

      <div class="form-row">
        <!--Distance-->
        <div class="col">
          <label for="challengeDistance">Distance (km)</label>
          <input
            type="text"
            class="form-control"
            name="distance"
            id="challengeDistance"
            ngModel
            required
          />
        </div>
        <!--Sponsors-->
        <div class="col">
          <label for="challengeSponsors">Sponsors</label>
          <input
            type="text"
            class="form-control"
            name="sponsors"
            id="challengeSponsors"
            ngModel
            required
          />
        </div>
      </div>
      <br />

      <div class="form-row justify-content-center">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!newChallenge.valid"
        >
          Create Challenge
        </button>
      </div>
    </form>

    <h5 *ngIf="isUpdateForm" class="card-title">Update Challenge</h5>
    <form
      *ngIf="isUpdateForm"
      (ngSubmit)="updateChallenge()"
      #updateChallengeForm="ngForm"
    >
      <div class="form-row">
        <!--Name-->
        <div class="col">
          <label for="updateChallengeName">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="updateChallengeName"
            [ngModel]="ucName"
            required
          />
        </div>
        <!--Period-->
        <div class="col">
          <label for="updateChallengePeriod">Period</label>
          <input
            type="text"
            class="form-control"
            name="period"
            id="updateChallengePeriod"
            [ngModel]="ucPeriod"
            required
          />
        </div>
      </div>

      <div class="form-row">
        <!--Type-->
        <div class="col">
          <label for="updateChallengeType">Type</label>
          <input
            type="text"
            class="form-control"
            name="type"
            id="updateChallengeType"
            [ngModel]="ucType"
            required
          />
        </div>
        <!--Activity Type-->
        <div class="col">
          <label for="updateChallengeActivityType">Activity Type</label>
          <input
            type="text"
            class="form-control"
            name="activityType"
            id="updateChallengeActivityType"
            [ngModel]="ucActivityType"
            required
          />
        </div>
      </div>

      <div class="form-row">
        <!--Distance-->
        <div class="col">
          <label for="updateChallengeDistance">Distance (km)</label>
          <input
            type="text"
            class="form-control"
            name="distance"
            id="updateChallengeDistance"
            [ngModel]="ucDistance"
            required
          />
        </div>
        <!--Sponsors-->
        <div class="col">
          <label for="updateChallengeSponsors">Sponsors</label>
          <input
            type="text"
            class="form-control"
            name="sponsors"
            id="updateChallengeSponsors"
            [ngModel]="ucSponsors"
            required
          />
        </div>
      </div>
      <br />

      <div class="form-row justify-content-center">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!updateChallengeForm.valid"
        >
          Update Challenge
        </button>
      </div>
    </form>
  </div>
</div>
